
#page {
  max-width: 640px;
  width: 100%;
  margin: auto;


  .mIcon{
    background-image: url(../../images/common/m-icon.png);
    background-size: 300px 52px;
    background-repeat: no-repeat;
  }
  .m-icon0{
    display: inline-block;
    width: 30px;
    height: 23px;
    background-position: 7px -24px;
    margin-top: 5px;
    margin-right: 10px;

  }

  .check-radio{
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: -158px -26px;
    margin-right: 10px;

  }

  .check-radio.selected{
    background-position: -158px 0;
  }

  header.back-header{
    background-color: #ebe5e2;
    padding: 10px 0px;
    font-size: 18px;
    color: #59463d;
    font-weight: 600;

    .m-icon0{
      position: absolute;
      left: 12.5px;
      top:6px;
    }

    p{
      text-align: center;
    }

    .right-btn{
      position: absolute;
      right: 12.5px;
      top:15px;
      font-size: 14px;
      font-weight: normal;
    }
  }


  .picker{
    padding: 0px 15px;
    
    p{
      text-align: center;
      font-size: 14px;
      color: #59463d;
      margin: 25px 0px;
    }
    .p-content{
      padding: 12.5px 7.5px;
      background-color: #ebe5e2;
      color: #59463d;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2em;
      margin: 12.5px 0px;
      text-align: left;

      p{
        margin: 0px;
        text-align: left;
      }
    }

    .ul03-widget{
      text-align: left;
      li{
        display: flex;
        padding: 12.5px 0px;

        p{
          flex: 1;
          margin-left: 15px;
          margin-top: 0px;
          margin-bottom: 0px;
          text-align: left;
        }
      }

    }
  }


  .fixedbtn{
    background-color: white;
    padding: 12px 20px;
    border-top: 1px solid #eeeae7;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    width: 100%;

    .btn{
      border-radius: 6px;
      font-size: 14px;
      color: #ffffff;
      background-color: #88c6c2;
      text-align: center;
      padding: 8px 0px;


    }

  }


}