
#page {
  max-width: 640px;
  width: 100%;
  margin: auto;


  .mIcon{
    background-image: url(../../images/common/m-icon.png);
    background-size: 300px 52px;
    background-repeat: no-repeat;
  }
  .m-icon0{
    display: inline-block;
    width: 30px;
    height: 23px;
    background-position: 7px -24px;
    margin-top: 5px;
    margin-right: 10px;

  }

  header.back-header{
    background-color: #ebe5e2;
    padding: 10px 0px;
    font-size: 18px;
    color: #59463d;
    font-weight: 600;

    .m-icon0{
      position: absolute;
      left: 12.5px;
      top:6px;
    }

    p{
      text-align: center;
    }
  }

  .content-tips{
    margin: 30px 0px;
    p{
      text-align: center;
      font-size: 14px;
      color: #59463d;

    }
  }

  .content-lis{
    padding: 0px 20px;
    margin-bottom: 80px;
    .com{
      margin-bottom: 20px;
      p{
        text-align: center;
        font-size: 16px;
        color: #59463d;
        margin-bottom: 20px;
      }

      textarea{
        border: 1px solid #59463d;
        padding: 12.5px;
        font-size: 14px;
        width: 100%;
        height: 62px;
        display: block;
        border-radius: 6px;
        margin-bottom: 12.5px;
        color: #59463d;
      }
    }
  }



  .fixedbtn{
    background-color: white;
    padding: 12px 20px;
    border-top: 1px solid #eeeae7;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    width: 100%;

    .btn{
      border-radius: 6px;
      font-size: 14px;
      color: #ffffff;
      background-color: #88c6c2;
      text-align: center;
      padding: 8px 0px;


    }

  }




}