.idea
.DS_Store
wechat/node_modules
wechat/.sass-cache
finace/node_modules
finace/.sass-cache
zayi/node_modules
zayi/.sass-cache
finance/
dongfeng/.sass-cache
dongfeng/.node_modules
phychology/.sass-cache
phychology/.node_modules

