#page {
  max-width: 640px;
  width: 100%;
  margin: auto;
  .page-wrapper {
    header {
      position: relative;
      background-color: #ede5e3;
      font-size: 18px;
      color: #59453e;
      padding: 3px;
      font-weight: 600;

      .hl-icon {
        display: inline-block;
        position: absolute;
        left: 15px;
        width: 20px;
        height: 20px;
        top: 12px;
        background-position: 5px 0px;
      }
      .hs-icon {
        display: inline-block;
        position: absolute;
        right: 50px;
        width: 20px;
        height: 20px;
        top: 12px;
        background-position: -21px 0px;
      }
      .hr-icon {
        display: inline-block;
        position: absolute;
        right: 15px;
        width: 20px;
        height: 20px;
        top: 12px;
        background-position: -46px 0px;
      }

      .head-title {
        text-align: center;
      }
      .header-icon {
        background-image: url(../../images/common/header-icon.png);
        background-size: 66.5px 16px;
        background-repeat: no-repeat;
      }
    }

    .tab-wrapper {
      background-color: #ede5e3;
      font-size: 14px;
      color: white;
      font-weight: 600;
      .selected {
        color: #59453e;
      }
      ul {
        overflow: hidden;
      }
      li {
        width: 50%;
        float: left;
        text-align: center;
        padding: 10px 0px;
      }
    }

    section.img-wrapper {
      background-image: url(../../images/index/span.png);
      background-position: center center;
      height: 0px;
      padding-bottom: percentage(265/640);
      background-size: contain;
      position: relative;
      background-repeat: no-repeat;
      .b-img {
        position: absolute;
        bottom: 0px;
        width: 20%;
        height: 4px;
        border-radius: 4px;
        background-color: #a5897d;
        left: 40%;
      }
    }

    .ul-wrapper {
      padding: 12.5px 15px;

      li {
        .img-wrapper {
          height: 0px;
          padding-bottom: percentage(385/(640-30));
          position: relative;
          a {
            display: block;
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .label-wrapper{
            z-index: 5;
            position: absolute;
            right: 8px;
            top: 7.5px;
            background-color:rgba(235,229,226,0.6) ;
            padding: 1px 8px;
            color: #59463d;
            font-size: 14px;
            border-radius: 6px;
            font-weight: 400;

            
          }
          .label-wrapper:nth-of-type(2){
            top: 40.5px;
          }
        }


        .p-title{
          color: #59463d;
          margin: 10px 0px;
          font-size: 14px;
          font-weight: 400;
        }

        .tl-wrapper{
          span{
            display: inline-block;
            border: 1px solid #88c6c2;
            border-radius: 6px;
            padding: 1px 8px;
            color: #88c6c2;
            margin-right: 7.5px;
            font-size: 12px;
          }
        }

        .p-content{
          padding: 12.5px 7.5px;
          background-color: #ebe5e2;
          color: #59463d;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.2em;
          margin: 12.5px 0px;
        }





      }
    }

    .in-wrapper{
      margin-bottom: 70px;
      display: none;
      .no-item{
        margin-top: 40px;
        p{
          font-size: 14px;
          color: #59463d;
          margin: 15px 0px;
          text-align: center;
          white-space: pre;
        }

        .i-title{
          font-size: 18px;
          font-weight: 400;
          color: #88c6c2;
        }
      }

      .main-list{
        padding: 0px 10px;
        li{
          display: flex;
          margin-bottom: 22.5px;
          .timewrapper{
            width: 5em;
            text-align: center;
            margin-right: 10px;

            .time{
              color: #59463d;
              font-size: 14px;
              margin-bottom: 10px;
            }

            .delete{
              font-size: 14px;
              color: #88c6c2;

            }
          }
          .contentlist{
            flex: 1;

            section{
              margin-bottom: 10px;
              background-color: #ebe5e2;
              color: #59463d;
              font-size: 12px;
              padding: 7.5px 12.5px;
              p{
                line-height: 1.3em;
              }
            }

          }
        }
      }

      .fixedbtn{
        background-color: white;
        padding: 12px 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        position: fixed;
        bottom: 0px;
        z-index: 10;
        width: 100%;

        .btn{
          border-radius: 6px;
          font-size: 14px;
          color: #ffffff;
          background-color: #88c6c2;
          text-align: center;
          padding: 8px 0px;


        }

      }
    }
  }
}

#right-wrapper{
  background: #FFF;
  border-left: 1px solid #59463d;

  .r-title {
    position: relative;
    background-color: #ede5e3;
    font-size: 18px;
    color: #59453e;
    font-weight: 600;
    padding: 12.5px 12.5px 5px 12.5px;
    margin-bottom: 12.5px;
    z-index: 20;


    .head-title {
      text-align: center;
    }

  }

  .r-btn-w {
    background-color: #ede5e3;
    font-size: 14px;
    color: white;
    font-weight: 600;
    overflow: hidden;
    .selected {
      color: #59453e;
    }
    li {
      width: 50%;
      float: left;
      text-align: left;
      padding: 4px 0px;
      color: #59463d;
    }
    li:last-of-type{
      text-align: right;
    }
  }


  .r-content{
    padding: 12.5px 12.5px;
    padding-top: 0px;
    .r-c-title{
      font-size: 14px;
      color: #59463d;
      padding-bottom: 12.5px;
      border-bottom: 1px solid #59463d;
    }
    .r-c-u{
      margin-top: 12.5px;
      overflow: hidden;

      li{
        width: 30%;
        float: left;
        margin-bottom: 5px;
        margin-right: 5%;
        text-align: center;
        padding: 3px 0px;
        font-size: 12px;
        color: #88c6c2;
        border-radius: 4px;
        border: 1px solid #88c6c2;
      }
      li.selected{
        color: #ffffff;
        background-color:#88c6c2;

      }
      li:nth-of-type(3n){
        margin-right: 0px;
      }
    }

    .r-c-u-h{
      li{
        text-align: center;
        margin: 12.5px 0px;
        color: #88c6c2;
        border-radius: 4px;
        border: 1px solid #88c6c2;
        font-size: 14px;
        padding: 3px 0px;

      }
      li.selected{
        color: #ffffff;
        background-color:#88c6c2;

      }
    }

  }
}

#left-wrapper{
  background-color: #ffffff;

  .mIcon{
    background-image: url(../../images/common/m-icon.png);
    background-size: 300px 52px;
    background-repeat: no-repeat;
  }
  .m-icon0{
    display: inline-block;
    width: 30px;
    height: 23px;
    background-position: 7px -24px;
    margin-top: 5px;
    margin-right: 10px;

  }
  .m-icon1{
    display: inline-block;
    margin-top: 2px;
    margin-right: 15px;
    width: 21px;
    height: 21px;
    background-position: -77px 0px;

  }
  .m-icon2{
    display: inline-block;
    margin-top: 2px;
    margin-right: 15px;
    width: 21px;
    height: 21px;
    background-position: -26px 0px;

  }
  .m-icon3{
    display: inline-block;
    margin-top: 2px;
    margin-right: 15px;
    width: 21px;
    height: 21px;
    background-position: -52px 0px;

  }
  .m-icon4{
    display: inline-block;
    margin-top: 2px;
    margin-right: 15px;
    width: 21px;
    height: 21px;
    background-position: 0px 0px;

  }
  .m-icon5{
    display: inline-block;
    margin-top: 2px;
    margin-right: 15px;
    width: 21px;
    height: 21px;
    background-position: -105px 0px;

  }

  header{
    background-color: #ede5e3;
    color: #59463d;
    font-size: 14px;
    display: flex;
    padding: 12.5px 0px;

    div{
      flex: 1;
    }

  }
  
  .top-wrapper{
    img{
      display: block;
      width: 75px;
      height: 75px;
      margin: 15px auto;
      border-radius: 75px;
      border: 1px solid #59463d;
    }

    p{
      color: #88c6c2;
      font-size: 14px;
      text-align: center;
    }
  }

  ul{
    margin-top: 25px;
    padding: 0px 15px;
    color: #59463d;
    font-size: 14px;
    li{
      border-top: 1px solid #59463d;
      padding: 12.5px;
      display: flex;

      p{
        flex: 1;
      }

    }

    li:last-of-type{
      border-bottom: 1px solid #59463d;
    }
  }

  .bottom-title{
    margin-top: 17.5px;
    color: #88c6c2;
    font-size: 14px;
    text-align: center;
  }
  .bottom-content{
    margin-top: 20px;
    color: #59463d;
    font-size: 12px;
    text-align: center;
  }

 }

@media (device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone 6 */
  .class {
  }
}

@media (device-width: 414px) and (-webkit-min-device-pixel-ratio: 3.0) {
  /* 兼容iphone6 plus */



}

@media (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2.0) {
  /* 兼容iphone5S */

  .smallfont{
    font-size: 10px !important;
  }


}