@charset "UTF-8";
#page {
  margin-bottom: 20px; }
  #page .down-header {
    width: 100%;
    height: 0px;
    padding-bottom: 14.0625%;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: fixed;
    top: 0px; }
    #page .down-header a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px; }
      #page .down-header a img {
        width: 100%;
        height: 100%; }
  #page .back-img {
    background-image: url(../../images/common/background.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover; }
  #page .top-banner {
    height: 0px;
    width: 100%;
    padding-bottom: 42.1875%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    position: relative; }
    #page .top-banner a {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      #page .top-banner a img {
        width: 100%; }
    #page .top-banner .t-head {
      width: 87px;
      height: 87px;
      display: block;
      margin: 0px auto;
      position: relative;
      top: 15px;
      border-radius: 87px;
      overflow: hidden; }
    #page .top-banner .t-name {
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 3.125%;
      color: white;
      font-size: 18px; }
  #page .b-left {
    flex: 1; }
  #page .b-right {
    margin-top: 10px;
    margin-right: 10px; }
  #page .t-head {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0px auto;
    position: relative;
    border-radius: 50px;
    overflow: hidden; }
    #page .t-head img {
      width: 100%; }
  #page .des-wrapper .rate-wrapper {
    text-align: center;
    color: #f51b57;
    margin-bottom: 8px; }
  #page .des-wrapper .cer-wrapper {
    text-align: center; }
    #page .des-wrapper .cer-wrapper span {
      display: inline-block;
      margin-right: 15px;
      font-size: 10px;
      color: #c8c8c8; }
      #page .des-wrapper .cer-wrapper span img {
        margin-right: 5px; }
    #page .des-wrapper .cer-wrapper .icon150 img {
      width: 10px;
      height: 12.5px; }
    #page .des-wrapper .cer-wrapper .icon148 img {
      width: 11.5px;
      height: 10px; }
  #page .des-wrapper .bk-img {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover; }
  #page .graybox {
    background-color: #e1e1e1;
    padding: 10px;
    text-align: center; }
  #page .box-label {
    background-color: #FFF;
    padding: 13px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #7c7c7c; }
  #page .li-wrapper {
    margin-top: 15px; }
    #page .li-wrapper .li-items {
      margin-bottom: 15px;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); }
      #page .li-wrapper .li-items .l-img {
        width: 100%;
        height: 0px;
        padding-bottom: 60.9375%;
        position: relative; }
        #page .li-wrapper .li-items .l-img a {
          position: absolute;
          width: 100%;
          height: 100%; }
        #page .li-wrapper .li-items .l-img .l-label {
          position: absolute;
          right: 20px;
          display: inline-block;
          background-color: rgba(0, 0, 0, 0.5);
          color: #FFF;
          top: 15px;
          padding: 3px 5px;
          font-size: 14px; }
        #page .li-wrapper .li-items .l-img .l-img-banner {
          position: absolute;
          bottom: 0px;
          width: 100%;
          height: 24.5px;
          background-color: rgba(0, 0, 0, 0.5);
          color: #FFF;
          line-height: 24.5px;
          padding-left: 10px; }
          #page .li-wrapper .li-items .l-img .l-img-banner span {
            display: inline-block;
            font-size: 16px; }
          #page .li-wrapper .li-items .l-img .l-img-banner .b-num {
            font-size: 19px;
            margin-right: 5px; }
          #page .li-wrapper .li-items .l-img .l-img-banner .rest-top {
            top: -3px;
            position: relative; }
      #page .li-wrapper .li-items .l-des {
        padding: 10px;
        font-size: 16px;
        color: #f22452; }
      #page .li-wrapper .li-items .l-loca {
        padding: 10px;
        font-size: 12px;
        color: #7d7d7d;
        padding-top: 5px; }
        #page .li-wrapper .li-items .l-loca p {
          display: flex; }
          #page .li-wrapper .li-items .l-loca p span {
            flex: 1; }
    #page .li-wrapper .no-img .l-img {
      padding-bottom: 0px;
      height: 80px; }
      #page .li-wrapper .no-img .l-img a {
        display: none; }
  #page .b-wrapper {
    padding: 10px; }
    #page .b-wrapper .b-title {
      text-align: center;
      margin: 8px 0px;
      color: #a2a2a2;
      font-size: 15px; }
    #page .b-wrapper .b-content {
      margin: 8px 0px;
      color: #2f2f2f;
      font-size: 14px;
      text-align: left; }
    #page .b-wrapper > ul.may-ul > li:last-of-type {
      border-bottom: 0px; }
    #page .b-wrapper > ul.may-ul > li {
      padding: 10px 0px;
      border-bottom: 1px solid #d8d8d8;
      overflow: hidden;
      font-size: 14px; }
      #page .b-wrapper > ul.may-ul > li > li {
        margin: 8px 0px; }
      #page .b-wrapper > ul.may-ul > li div:first-of-type {
        width: 5em;
        float: left;
        color: #7c7c7c; }
      #page .b-wrapper > ul.may-ul > li div:last-of-type {
        width: 50%;
        float: right;
        text-align: right; }
      #page .b-wrapper > ul.may-ul > li .clear-float {
        width: 100% !important;
        text-align: left !important;
        margin-bottom: 8px; }
    #page .b-wrapper .items {
      overflow: hidden; }
      #page .b-wrapper .items .bor-item {
        width: 30%;
        float: left;
        text-align: center;
        border: 1px solid #c8c8c8;
        font-size: 14px;
        margin-right: 5%;
        margin-bottom: 10px;
        padding: 8px 0px; }
      #page .b-wrapper .items .bor-item:nth-of-type(3n) {
        margin-right: 0px; }
    #page .b-wrapper .swiper-slide {
      height: 0px;
      padding-bottom: 31%;
      position: relative; }
      #page .b-wrapper .swiper-slide a {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%; }
        #page .b-wrapper .swiper-slide a img {
          width: 100%;
          height: 100%; }
    #page .b-wrapper .reply-img .swiper-slide {
      height: 0px;
      padding-bottom: 18%;
      position: relative; }
    #page .b-wrapper .rate-wrapper {
      text-align: center;
      color: #f51b57;
      margin-bottom: 8px; }
    #page .b-wrapper .bottom-rate {
      color: #a2a2a2;
      font-size: 13px; }
      #page .b-wrapper .bottom-rate > span {
        flex: 1; }
        #page .b-wrapper .bottom-rate > span span {
          color: #f22452; }
    #page .b-wrapper .reply-wrapper li {
      padding: 8px 0px; }
    #page .b-wrapper .reply-wrapper .b-t {
      font-size: 13px;
      color: #a2a2a2;
      line-height: 30px; }
    #page .b-wrapper .reply-wrapper .b-name {
      flex: 1; }
      #page .b-wrapper .reply-wrapper .b-name span {
        color: #000; }
    #page .b-wrapper .reply-wrapper .b-content {
      color: #a2a2a2;
      font-size: 13px; }
    #page .b-wrapper .reply-wrapper .b-img {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      overflow: hidden;
      margin-right: 8px; }
      #page .b-wrapper .reply-wrapper .b-img img {
        width: 100%; }
  #page .box {
    display: flex; }

.zhao-icon {
  display: inline-block;
  width: 11.5px;
  height: 24.5px;
  background-image: url(../../images/home/zhao.png);
  background-size: contain;
  margin-top: -1px;
  margin-right: 3px; }

.mai-icon {
  display: inline-block;
  width: 11.5px;
  height: 24.5px;
  background-image: url(../../images/home/mai.png);
  background-size: contain;
  margin-top: -1px;
  margin-right: 3px; }

.l-lo {
  display: inline-block;
  padding-left: 20px;
  background-image: url(../../images/home/map.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -1px; }

.l-name {
  display: inline-block;
  padding-left: 20px;
  background-image: url(../../images/home/person.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -1px; }

.l-rate {
  display: inline-block;
  padding-left: 20px;
  background-image: url(../../images/home/rate.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -1px; }

.l-de {
  display: inline-block;
  padding-left: 20px;
  background-image: url(../../images/home/dis.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -1px;
  margin-right: 3px; }

.btn-wrapper {
  width: 80%;
  height: 40px;
  font-size: 14px;
  color: #f22452;
  border: 1px solid #f98ba4;
  margin: auto;
  line-height: 40px;
  text-align: center; }
  .btn-wrapper img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: relative;
    top: 3px; }

.full-img {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none; }
  .full-img a {
    display: flex;
    width: 100%;
    height: 100%;
    background-size: 480px 480px;
    position: relative; }
  .full-img img {
    width: 100%;
    vertical-align: middle;
    height: auto;
    display: block;
    margin: auto; }

.hide {
  display: none; }

@media (device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone 6 */ }
@media (device-width: 414px) and (-webkit-min-device-pixel-ratio: 3) {
  /* 兼容iphone6 plus */
  #page .top-banner .t-head {
    top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden; }

  #page .des-wrapper .bk-img {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover; } }

/*# sourceMappingURL=index.css.map */
