
#page {
  max-width: 640px;
  width: 100%;
  margin: auto;


  .mIcon{
    background-image: url(../../images/common/m-icon.png);
    background-size: 300px 52px;
    background-repeat: no-repeat;
  }
  .m-icon0{
    display: inline-block;
    width: 30px;
    height: 23px;
    background-position: 7px -24px;
    margin-top: 5px;
    margin-right: 10px;

  }

  header.back-header{
    background-color: #ebe5e2;
    padding: 10px 0px;
    font-size: 18px;
    color: #59463d;
    font-weight: 600;

    .m-icon0{
      position: absolute;
      left: 12.5px;
      top:6px;
    }

    p{
      text-align: center;
    }

    .right-btn{
      position: absolute;
      right: 12.5px;
      top:15px;
      font-size: 14px;
      font-weight: normal;
    }
  }


  .ul01-widget{
    padding: 0px 15px;
    li{
      padding: 15px;
      display: flex;
      border-bottom: 1px solid #ebe5e2;

      .check-radio{
        display: inline-block;
        width: 21px;
        height: 21px;
        background-position: -158px -26px;
        margin-top: 15px;
        margin-right: 12.5px;
        display: none;

      }

      .check-radio.selected{
        background-position: -158px 0;
      }

      img{
        width: 45px;
        height: 45px;
        border-radius: 75px;
        display: inline-block;
        margin-right: 12.5px;
        border: 1px solid #59463d;
      }
      .right-content{
        flex: 1;
        font-size: 14px;
        color: #59463d;
        p{
          margin-bottom: 10px;
        }
        p:last-of-type{
          margin-bottom: 0px;
        }
      }
    }
  }

  .fixedbtn{
    background-color: white;
    padding: 12px 20px;
    border-top: 1px solid #eeeae7;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    width: 100%;

    .btn{
      border-radius: 6px;
      font-size: 14px;
      color: #ffffff;
      background-color: #88c6c2;
      text-align: center;
      padding: 8px 0px;


    }

  }


.spanshow{
  display: inline-block !important;
}

  .hide{
    display: none;
  }

}