
#page {
  max-width: 640px;
  width: 100%;
  margin: auto;

  .mIcon {
    background-image: url(../../images/common/m-icon.png);
    background-size: 300px 52px;
    background-repeat: no-repeat;
  }
  .m-icon0 {
    display: inline-block;
    width: 30px;
    height: 23px;
    background-position: 7px -24px;
    margin-top: 5px;
    margin-right: 10px;

  }

  header.back-header {
    background-color: #ebe5e2;
    padding: 10px 0px;
    font-size: 18px;
    color: #59463d;
    font-weight: 600;

    .m-icon0 {
      position: absolute;
      left: 12.5px;
      top: 6px;
    }

    p {
      text-align: center;
    }

    .right-btn {
      position: absolute;
      right: 12.5px;
      top: 15px;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .img-wrapper {

    img {
      display: block;
      width: 87px;
      height: 87px;
      border-radius: 87px;
      margin: 45px auto 8.5px auto;
    }

    p {
      font-size: 18px;
      color: #59463d;
      text-align: center;
      margin-bottom: 10px;
    }

  }

  .content-wrapper {
    padding: 20px;
    input {
      border: 1px solid #a5897d;
      display: block;
      margin-bottom: 12.5px;
      padding: 12.5px;
      font-size: 14px;
      width: 100%;
      border-radius: 6px;

    }

  }

  .btn {
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
    background-color: #88c6c2;
    text-align: center;
    padding: 8px 0px;
    margin: auto 20px;

  }

  .btn01 {
    border-radius: 4px;
    font-size: 14px;
    color: #88c6c2;
    border: 1px solid #88c6c2;
    text-align: center;
    padding: 8px 0px;
    margin: auto 20px;
  }

  p.forget {
    font-size: 14px;
    text-align: right;
    color: #59453e;
    margin-top: 20px;
    padding: 0px 20px;
  }

}