#page {
  max-width: 640px;
  background-color: #f5f4f4;
  overflow: hidden;
  font-family: "Hiragino Sans GB";

  .head-wrap{
    width: 100%;
    height: 0px;
    padding-bottom: percentage(450/750);
    position: relative;

    a{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;

      img{
        width: 100%;
        height: 100%;
      }

      .over{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 110%;
        color: white;
        //margin: 0px -10px;
        background-color: rgba(0,0,0,0.5);
        font-size: 13px;
        padding: 3px 10px;
        padding-left: 8%;
        margin-left: -5%;
      }
    }
  }


  .de-wrap{
    padding: 0px 10px 10px 10px;
    background-color: #ffffff;
    &>.flex{
      padding: 3px 0px;
      border-bottom: 1px dashed #d5d5d4;
    }
    .d-t{
      font-weight: 400;
    }
    .d-p{
      text-align: right;
      &>span{
        color: #c03b6e;
      }
    }
    .d-location-wrap{
      border-bottom: 0px;
      font-size: 13px;
      padding-top: 5px;
    }
    .d-time-wrap{
      font-size: 13px;
      border-bottom: 0px;
      &>.flex1{
        text-align: right;
        span{
          color: #c03b6e;
        }
      }
    }
    .re-wrap{
      font-size: 13px;
      overflow: hidden;

      span{
        float: left;
      }

      ul{
        overflow: hidden;
        float: left;
        border-left: 1px solid #d5d5d4;
        margin-left: 10px;
        li{
          padding: 5px 8px;
          border-right: 1px solid #d5d5d4;
          border-top: 1px solid #d5d5d4;
          border-bottom: 1px solid #d5d5d4;
          float: left;
          display: flex;
          align-items: baseline;
          span{
            font-size: 16px;
            font-weight: 800;
            color: #c03b6e;
            margin-right: 5px;
          }
        }
      }
    }

  }

  .wrap-wi{
    border: 1px solid #d5d5d4;
    background-color: #ffffff;
    margin: 10px;

    p.w-t{
      color: #5e5e5e;
      padding: 10px;
      border-bottom: 1px solid #d5d5d4;
    }
    article{
      line-height: 1.3em;
      padding: 10px;
      color: #010101;
      font-size: 14px;
    }
    .img-wrap{
      position: relative;
      height: 0px;
      padding-bottom: percentage(430/710);
      a{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;

        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .pay-ch{
      p{
        padding: 4px 0px;
        font-size: 14px;
      }
      p:first-of-type{
        border-bottom: 1px dashed #d5d5d4;
      }
    }
  }

  .detail-wrap{
    font-size: 13px;
    color: #000;
    padding: 10px 0px;
    position: relative;


  }

  .wrap{
    .d-t{
      color: #c03b6e;
      border-bottom: 1px solid #e5e6e4;
      padding-bottom: 10px;
    }
    article{
      line-height: 1.3em;
      text-indent: 2em;
      padding-top: 8px;
      text-align: justify;
    }

    ul.pic-list{
      overflow: hidden;
      padding-top: 10px;
      li{
        float: left;
        margin-bottom: 8px;
        width: 16%;
      }
    }

    .t-w{
      border-bottom: 1px solid #e5e6e4;
      padding-bottom: 10px;
      color: #000;
      p{
        &>span{
          color: #c03b6e;
        }
      }
    }

    .re-ul{
      li{
        padding: 10px 0px;
        border-bottom: 1px solid #e5e6e4;
        align-items: center;
      }
      img{
        width: 40px;
        height: 40px;
        margin-right: 8px;
      }
      .s-t-w{

        font-size: 13px;

        .t-name{
          color: #c03b6e;
        }
        span{
          color: #666464;
        }
      }
      .p-content{
        color: #666464;
        font-size: 13px;
      }
    }
  }




  .like-wrap{

    .icon2{
      background-image: url(../../images/heart.png);
      background-size : 14px 13px;
      display: inline-block;
      width: 14px;
      height: 13px;
      margin-right: 10px;
      margin-top: 5px;
    }

    ul{
      overflow: hidden;

      li{
        float: left;
        width: 23px;
        height: 23px;
        margin-right: 5px;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 5px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.button {
  width: 90%;
  margin:15px auto;
  background-color: #de4f55;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 10px 0px;
  border-radius: 6px;

}



#bottom{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  background-color: #FFFFFF;

  .btn-wrap{
    overflow: hidden;

    div{
      width: 50%;
      float: left;
      text-align: center;
      padding: 4px 0px;
    }
    .l{
      p:first-of-type{
        font-size: 12px;
      }
      p:last-of-type{
        font-size: 14px;
        font-weight: 600;
      }
    }
    .r{
      background-color: #c03b6e;
      color: #ffffff;
      p:first-of-type{
        font-size: 14px;

      }
      p:last-of-type{
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
.sm-img{
  text-align: center;
  img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
  }
  p{
    font-size: 12px;
    color: #010101;
    margin-top: -5px;

  }
}
#page{
  margin-bottom: 50px;
}