#page {
  font-family: "HY";
  background-color: whitesmoke;

  .wrap {
    margin-top: 0px;
  }

  header {
    padding: 10px 0px;
    text-align: center;
    font-size: 18px;
    color: rgb(75, 75, 75);
    li {
      display: inline-block;
      margin-right: 20px;
    }

    li.selected {
      font-size: 20.5px;
      color: rgb(55, 184, 203);
      border-bottom: 2px solid rgb(55, 184, 203);
      padding-bottom: 3px;
    }

    li:last-of-type {
      margin-right: 0px;
    }
  }

  .imgs-wrapper {
    width: 100%;
    height: 0px;
    padding-bottom: percentage(285/640);

    .back-img {
      img {
        width: 100%;
        height: 100%;

      }

    }

    .i-title{
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      font-size: 16px;
      font-weight: 800;
      text-align: center;
      color: #ffffff;
      padding: 10px 0px;
      background-image: url(../../images/common/bg-top.png);
      background-repeat: repeat-x;
      background-size: contain;
    }

    .swiper-wrapper {
      position: absolute;
      top: 0px;
      bottom: 0px;
      height: 100%;
      width: 100%;
    }

    .swiper-pagination-bullet-active {
      background-color: #fbc624;
    }
    .swiper-pagination {
      bottom: 35px;
    }
  }

  .tab-wrapper {

    top: -24px;
    position: relative;
    z-index: 20;
    border-image: url(../../images/common/bg-center.png) 80 0 0 0 round;
    border-top: 25px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;

    ul {
      display: flex;
      background-color: white;
      padding-top: 20px;
      li {
        flex: 1;
        display: block;
        text-align: center;
        font-size: 13px;
        color: rgb(75, 75, 75);
        span {
          display: inline-block;
          width: 44px;
          height: 44px;
          margin-bottom: 10px;
        }

      }
    }
  }

  .ul-wrapper {
    padding: 20px 10px;
    .title-wrapper {
      overflow: hidden;
      display: flex;

      span {
        text-align: left;
        display: block;
      }
      span:last-of-type {
        text-align: right;
        flex: 1;
      }

      .l-w {
        font-size: 18px;
        font-family: "FZLTTHJW";
        color: rgb(242, 114, 114);
        font-style: italic;
        font-weight: 800;
        padding-right: 20px;
        position: relative;
        padding-bottom: 5px;
      }

      .l-w:after {
        content: '';
        position: absolute;
        bottom: 0px;
        display: block;
        border: 1px solid rgb(242, 114, 114);
        width: 4em;
      }

      .l-w:before {
        content: '';
        position: absolute;
        display: block;
        border: 1px solid #cccccc;
        right: 0px;
        height: 1em;
        top: 8px;
      }

      .r-w {
        color: rgb(242, 114, 114);
        font-size: 13px;

        span {
          color: #CCCCCC;
          display: inline-block;
        }
      }
    }

    .items-wrapper {
      display: flex;
      margin-top: 20px;

      li {
        flex: 1;
        position: relative;
        text-align: center;
        margin-right: 10px;

        & > div {
          width: 100%;
          height: 0px;
          padding-bottom: 100%;
          border-radius: 4px;
          overflow: hidden;
          position: relative;
          margin-bottom: 10px;

          & > div {
            position: absolute;
            top: 0px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 14px;
            line-height: 1.2em;
            color: #ffffff;
          }

          a {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }

        }

        & > span {
          font-size: 13px;
          color: rgb(75, 75, 75);
        }
      }

      li:last-of-type {
        margin-right: 0px;
      }
    }
  }

  .hr{
    font-size: 18px;
    height: 1px;
    text-align: center;
    background-color: #cccccc;
    margin: 20px;

    span{
      display: inline-block;
      background-color: #ffffff;
      color: #d2d2d2;
      padding: 0px 10px;
      position: relative;
      top: -0.8em;
    }
  }

  .ul-wrapper2{
    padding: 10px;
    ul{
      overflow: hidden;
      li:nth-of-type(2n){
        margin-right: 0px;
      }
      li{
        width: 49%;
        margin-right: 2%;
        float: left;
        margin-bottom: 15px;

        &>p{
          font-size: 14px;
          color: rgb( 106, 82, 82 );
          text-align: center;
          padding: 10px 0px;
          background-color: #fbfbfb;
        }
      }

      .t-w{
        display: flex;
        align-items: center;
        
        img{
          width: 30px;
          height: 30px;
          border-radius: 30px;
          margin-right: 10px;
        }
        &>div{
          flex: 1;
          font-size: 13px;

          .lv{
            font-size: 12px;
            line-height: 13px;
            background-color: #fdd102;
            color: #ffffff;
            display: inline-block;
            padding: 0px 3px;
            margin-left: 5px;
          }


          &>p:first-of-type{
            //margin-bottom: 3px;
            color: rgb( 76, 191, 209 );
          }
          &>p:last-of-type{
            color: rgb( 204, 204, 204 );
          }

        }
      }

      .i-w{
        width: 100%;
        height: 0px;
        padding-bottom: 100%;
        position: relative;
        margin-top: 10px;

        a{
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 8px 8px 0px 0px;

          img{
            width: 100%;
            height: 100%;
          }
        }

        &>div{
          position: absolute;
          left: -1px;
          top: 0px;
          z-index: 1;
          width: 34px;
          height: 34px;
          display: inline-block;
          span{
            color: #ffffff;
            font-size: 10px;
            display: inline-block;
            transform: rotate(-45deg);
            text-align: center;
          }
        }
      }

      .b-w{
        border-top: 1px solid #CCCCCC;
        padding: 10px 0px;
        display: flex;
        background-color: #fbfbfb;
        border-radius: 0px 0px 8px 8px;
        
        p{
          flex: 1;
          text-align: center;
        }
        p:first-of-type{
          color: rgb( 242, 114, 114 );
          font-size: 13px;
          text-align: center;
          border-right: 1px solid #CCCCCC;
        }

        p:last-of-type{
          font-size: 13px;
          color: rgb( 106, 82, 82 );

          span{
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  #wrap{
    background-color: #FFF;
  }
  .ul-wrap{
    margin-top: 20px;
    background: whitesmoke;
    &>ul>li{
      padding:10px 0px ;
      margin-bottom: 15px;
      background: white;
    }
    .top-li{
      display: flex;
      border-bottom:1px dotted #CCCCCC;
      padding-bottom: 10px;
      padding-left: 10px;
    }
    .mid-li{
      padding: 10px;
      border-bottom:1px dotted #CCCCCC;
      &>p{
        color: #4b4b4b;
        font-size: 14px;
      }
    }
    .bot-li{
      ul{
        display: flex;
        li{
          flex: 1;
          text-align: center;
          padding: 10px 0px;
          &>span{
            display: inline-block;
            padding:6px 8px;
            background-color: #ffffff;
            border-radius: 4px;
            margin-right: 10px;
            width: 32px;
          }
        }
      }
    }

    .t-w{
      display: flex;
      align-items: center;
      flex: 1;
      img{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-right: 10px;
      }
      &>div{
        flex: 1;
        font-size: 13px;

        .lv{
          font-size: 12px;
          line-height: 13px;
          background-color: #fdd102;
          color: #ffffff;
          display: inline-block;
          padding: 0px 3px;
          margin-left: 5px;
        }


        &>p:first-of-type{
          //margin-bottom: 3px;
          color: rgb( 76, 191, 209 );
        }
        &>p:last-of-type{
          color: rgb( 204, 204, 204 );
        }

      }
    }
    .top-tag{
      padding: 0px 15px;
      text-align: right;
      display: flex;
      align-items: center;
      border-radius: 5px 0px 0px 5px;
      color: #ffffff;
      font-size: 14px;
      height:2em;
      margin-top: 5px
    }
    .cx{
      background-color: #774300;
    }
    .pm{
      background-color: #f27272;
    }
    .jd{
      background-color: #ff8607;
    }
    .xs{
      background-color: #95bb2f;
    }

    .img-list{
      margin: 10px 0px;
      overflow: hidden;
      li:nth-of-type(3n){
        margin-right: 0%;
      }
      li{
        width: 32%;
        float: left;
        margin-right: 2%;
        height: 0px;
        padding-bottom: 32%;
        position: relative;
        margin-bottom: 10px;


        a{
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background-color: whitesmoke;
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
    }

    .like-wrap{
      margin: 10px 0px;
      display: flex;
      &>span{
        display: inline-block;
        font-size: 12px;
        color: #6a5252;
        border: 1px solid #6a5252;
        border-radius: 2px;
        width: 1.6em;
        height: 1.6em;
        text-align: center;
        margin-right: 10px;
      }
      p,ul{
        color: #37b8cb;
        flex: 1;
        font-size: 12px;
      }
      li{
        color: #6a5252;
        font-size: 12px;
      }
      li>span{
        color: #37b8cb;
      }
    }
  }

}