#page {
  font-family: "HY";

  .wrap {
    margin-top: 0px;
  }

  header {
    padding: 10px 0px;
    text-align: center;
    font-size: 18px;
    color: rgb(75, 75, 75);
    li {
      display: inline-block;
      margin-right: 20px;
    }

    li.selected {
      font-size: 20.5px;
      color: rgb(55, 184, 203);
      border-bottom: 2px solid rgb(55, 184, 203);
      padding-bottom: 3px;
    }

    li:last-of-type {
      margin-right: 0px;
    }
  }

  .imgs-wrapper {
    width: 100%;
    height: 0px;
    padding-bottom: percentage(285/640);

    .back-img {
      img {
        width: 100%;
        height: 100%;

      }

    }

    .swiper-wrapper {
      position: absolute;
      top: 0px;
      bottom: 0px;
      height: 100%;
      width: 100%;
    }

    .swiper-pagination-bullet-active {
      background-color: #fbc624;
    }
    .swiper-pagination {
      bottom: 35px;
    }
  }

  .tab-wrapper {
    border-radius: 45% 45% 0 0;
    background-color: white;
    top: -30px;
    position: relative;
    z-index: 20;
    padding-top: 50px;

    ul {
      display: flex;
      li {
        flex: 1;
        display: block;
        text-align: center;
        font-size: 16.5px;
        color: rgb(75, 75, 75);
        span {
          display: inline-block;
          width: 44px;
          height: 44px;
          margin-bottom: 10px;
        }

      }
    }
  }

  .ul-wrapper {
    padding: 20px 10px;
    .title-wrapper {
      overflow: hidden;
      display: flex;

      span {
        text-align: left;
        display: block;
      }
      span:last-of-type {
        text-align: right;
        flex: 1;
      }

      .l-w {
        font-size: 18px;
        font-family: "FZLTTHJW";
        color: rgb(242, 114, 114);
        font-style: italic;
        font-weight: 800;
        padding-right: 20px;
        position: relative;
        padding-bottom: 5px;
      }

      .l-w:after {
        content: '';
        position: absolute;
        bottom: 0px;
        display: block;
        border: 1px solid rgb(242, 114, 114);
        width: 4em;
      }

      .l-w:before {
        content: '';
        position: absolute;
        display: block;
        border: 1px solid #cccccc;
        right: 0px;
        height: 1em;
        top: 8px;
      }

      .r-w {
        color: rgb(242, 114, 114);
        font-size: 16.5px;

        span {
          color: #CCCCCC;
          display: inline-block;
        }
      }
    }

    .items-wrapper {
      display: flex;
      margin-top: 20px;

      li {
        flex: 1;
        position: relative;
        text-align: center;
        margin-right: 10px;

        & > div {
          width: 100%;
          height: 0px;
          padding-bottom: 100%;
          border-radius: 4px;
          overflow: hidden;
          position: relative;
          margin-bottom: 10px;

          & > div {
            position: absolute;
            top: 0px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 14px;
            line-height: 1.2em;
            color: #ffffff;
          }

          a {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }

        }

        & > span {
          font-size: 16.5px;
          color: rgb(75, 75, 75);
        }
      }

      li:last-of-type {
        margin-right: 0px;
      }
    }
  }

  .hr{
    font-size: 18px;
    height: 1px;
    text-align: center;
    background-color: #cccccc;
    margin: 20px;

    span{
      display: inline-block;
      background-color: #ffffff;
      color: #d2d2d2;
      padding: 0px 10px;
      position: relative;
      top: -0.8em;
    }
  }

  .ul-wrapper2{
    padding: 10px;
    ul{
      overflow: hidden;
      li:last-of-type{
        margin-right: 0px;
      }
      li{
        width: 49%;
        margin-right: 1%;
        float: left;
        margin-bottom: 15px;

        &>p{
          font-size: 14px;
          color: rgb( 106, 82, 82 );
          text-align: center;
          padding: 10px 0px;
          background-color: #fbfbfb;
        }
      }

      .t-w{
        display: flex;
        align-items: center;
        
        img{
          width: 30px;
          height: 30px;
          border-radius: 30px;
          margin-right: 10px;
        }
        &>div{
          flex: 1;
          font-size: 13px;

          .lv{
            font-size: 13px;
            background-color: #fdd102;
            color: #ffffff;
            display: inline-block;
            padding: 0px 3px;
            margin-left: 5px;
          }


          &>p:first-of-type{
            //margin-bottom: 3px;
            color: rgb( 76, 191, 209 );
          }
          &>p:last-of-type{
            color: rgb( 204, 204, 204 );
          }

        }
      }

      .i-w{
        width: 100%;
        height: 0px;
        padding-bottom: 100%;
        position: relative;
        margin-top: 10px;

        a{
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 8px 8px 0px 0px;

          img{
            width: 100%;
            height: 100%;
          }
        }

        &>div{
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 1;
          width: 34px;
          height: 34px;
          display: inline-block;
          span{
            color: #ffffff;
            font-size: 10px;
            display: inline-block;
            transform: rotate(-45deg);
            text-align: center;
          }
        }
      }

      .b-w{
        border-top: 1px solid #CCCCCC;
        padding: 10px 0px;
        display: flex;
        background-color: #fbfbfb;
        border-radius: 0px 0px 8px 8px;
        
        p{
          flex: 1;
          text-align: center;
        }
        p:first-of-type{
          color: rgb( 242, 114, 114 );
          font-size: 13px;
          text-align: center;
          border-right: 1px solid #CCCCCC;
        }

        p:last-of-type{
          font-size: 13px;
          color: rgb( 106, 82, 82 );

          span{
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}