body {
  background-color: #efeff4; }

#page {
  font-family: "HY"; }
  #page .wrap {
    margin-top: 0px; }
  #page .item-li li {
    padding: 0 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px; }
    #page .item-li li .t-w {
      display: flex;
      align-items: center;
      border-bottom: 1px dashed #d3d3d3;
      padding: 10px 0; }
      #page .item-li li .t-w img {
        width: 50px;
        height: 50px;
        border-radius: 50px; }
      #page .item-li li .t-w .t-w-r {
        flex: 1;
        margin-left: 15px; }
        #page .item-li li .t-w .t-w-r p {
          color: #45c7d7;
          font-size: 15px;
          margin-bottom: 5px; }
        #page .item-li li .t-w .t-w-r span {
          color: #a3a2a2;
          font-size: 12px; }
    #page .item-li li .m-w {
      color: #525252;
      font-size: 15px; }
      #page .item-li li .m-w .i-w {
        width: 100%;
        height: 0px;
        padding-bottom: 100%;
        position: relative; }
        #page .item-li li .m-w .i-w a {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          overflow: hidden; }
          #page .item-li li .m-w .i-w a img {
            width: 100%;
            height: 100%; }
        #page .item-li li .m-w .i-w > div {
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 1;
          width: 34px;
          height: 34px;
          display: inline-block; }
          #page .item-li li .m-w .i-w > div span {
            color: #ffffff;
            font-size: 10px;
            display: inline-block;
            transform: rotate(-45deg);
            text-align: center; }
      #page .item-li li .m-w > p {
        margin: 8px 0px; }
      #page .item-li li .m-w .like-w {
        margin-bottom: 8px; }
    #page .item-li li .b-w {
      border-top: 1px dashed #d3d3d3;
      padding: 10px 0px; }
      #page .item-li li .b-w li {
        flex: 1;
        text-align: center;
        border-right: 1px solid #a3a2a2; }
      #page .item-li li .b-w li:last-of-type {
        border-right: 0; }
  #page .blue {
    color: #38c9e3; }
  #page .flex {
    display: flex; }
  #page .flex1 {
    flex: 1;
    margin-left: 10px; }
  #page .c-icon {
    background-image: url(../../images/collect/index.png);
    background-size: 59px 37px;
    background-repeat: no-repeat;
    display: inline-block; }
  #page .c-1 {
    width: 15px;
    height: 15px; }
  #page .c-2 {
    width: 15px;
    height: 15px;
    background-position: 0 -20px; }
  #page .c-3 {
    width: 15px;
    height: 15px;
    background-position: -21px 1px;
    margin-right: 5px; }
  #page .c-4 {
    width: 15px;
    height: 15px;
    background-position: -42px 1px;
    margin-right: 5px; }
  #page .c-5 {
    width: 15px;
    height: 15px;
    background-position: -42px -20px;
    margin-right: 5px; }
  #page .c-6 {
    width: 15px;
    height: 15px;
    background-position: -21px -20px;
    margin-right: 5px; }
  #page .lastmargin {
    margin-bottom: 80px; }
  #page .ul-wrap {
    margin-top: 20px;
    background: whitesmoke; }
    #page .ul-wrap > ul > li {
      padding: 10px 0px;
      margin-bottom: 15px;
      background: white; }
    #page .ul-wrap .top-li {
      display: flex;
      border-bottom: 1px dotted #CCCCCC;
      padding-bottom: 10px;
      padding-left: 10px; }
    #page .ul-wrap .mid-li {
      padding: 10px;
      border-bottom: 1px dotted #CCCCCC; }
      #page .ul-wrap .mid-li > p {
        color: #4b4b4b;
        font-size: 14px; }
    #page .ul-wrap .bot-li ul {
      display: flex; }
      #page .ul-wrap .bot-li ul li {
        flex: 1;
        text-align: center;
        padding: 10px 0px; }
        #page .ul-wrap .bot-li ul li > span {
          display: inline-block;
          padding: 6px 8px;
          background-color: #ffffff;
          border-radius: 4px;
          margin-right: 10px;
          width: 32px; }
    #page .ul-wrap .t-w {
      display: flex;
      align-items: center;
      flex: 1; }
      #page .ul-wrap .t-w img {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-right: 10px; }
      #page .ul-wrap .t-w > div {
        flex: 1;
        font-size: 13px; }
        #page .ul-wrap .t-w > div .lv {
          font-size: 12px;
          line-height: 13px;
          background-color: #fdd102;
          color: #ffffff;
          display: inline-block;
          padding: 0px 3px;
          margin-left: 5px; }
        #page .ul-wrap .t-w > div > p:first-of-type {
          color: #4cbfd1; }
        #page .ul-wrap .t-w > div > p:last-of-type {
          color: #cccccc; }
    #page .ul-wrap .top-tag {
      padding: 0px 15px;
      text-align: right;
      display: flex;
      align-items: center;
      border-radius: 5px 0px 0px 5px;
      color: #ffffff;
      font-size: 14px;
      height: 2em;
      margin-top: 5px; }
    #page .ul-wrap .cx {
      background-color: #774300; }
    #page .ul-wrap .pm {
      background-color: #f27272; }
    #page .ul-wrap .jd {
      background-color: #ff8607; }
    #page .ul-wrap .xs {
      background-color: #95bb2f; }
    #page .ul-wrap .img-list {
      margin: 10px 0px;
      overflow: hidden; }
      #page .ul-wrap .img-list li:nth-of-type(3n) {
        margin-right: 0%; }
      #page .ul-wrap .img-list li {
        width: 32%;
        float: left;
        margin-right: 2%;
        height: 0px;
        padding-bottom: 32%;
        position: relative;
        margin-bottom: 10px; }
        #page .ul-wrap .img-list li a {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background-color: whitesmoke; }
        #page .ul-wrap .img-list li img {
          width: 100%;
          height: 100%; }
    #page .ul-wrap .like-wrap {
      margin: 10px 0px;
      display: flex; }
      #page .ul-wrap .like-wrap > span {
        display: inline-block;
        font-size: 12px;
        color: #6a5252;
        border: 1px solid #6a5252;
        border-radius: 2px;
        width: 1.6em;
        height: 1.6em;
        text-align: center;
        margin-right: 10px; }
      #page .ul-wrap .like-wrap p, #page .ul-wrap .like-wrap ul {
        color: #37b8cb;
        flex: 1;
        font-size: 12px; }
      #page .ul-wrap .like-wrap li {
        color: #6a5252;
        font-size: 12px; }
      #page .ul-wrap .like-wrap li > span {
        color: #37b8cb; }

/*# sourceMappingURL=index.css.map */
