body {
  background-color: #efeff4;
}

#page {
  font-family: "HY";
  //background-color: #efeff4;

  .wrap {
    margin-top: 0px;
  }

  .item-li {
    li {
      padding:0 10px;
      background-color: #FFFFFF;
      margin-bottom: 10px;
      .t-w {
        display: flex;
        align-items: center;
        border-bottom: 1px dashed #d3d3d3;
        padding: 10px 0;
        img{
          width: 50px;
          height: 50px;
          border-radius: 50px;
        }

        .t-w-r{
          flex:1;
          margin-left: 15px;


          p{
            color: #45c7d7;
            font-size: 15px;
            margin-bottom: 5px;
          }
          span{
            color : #a3a2a2;
            font-size: 12px;
          }
        }
      }

      .m-w{
        color: #525252;
        font-size: 15px;

        .i-w {
          width: 100%;
          height: 0px;
          padding-bottom: 100%;
          position: relative;

          a {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }

          & > div {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1;
            width: 34px;
            height: 34px;
            display: inline-block;
            span {
              color: #ffffff;
              font-size: 10px;
              display: inline-block;
              transform: rotate(-45deg);
              text-align: center;
            }
          }
        }

        &>p{
          margin: 8px 0px;
        }

        .like-w{
          margin-bottom: 8px;
        }
      }

      .b-w{
        border-top: 1px dashed #d3d3d3;
        padding: 10px 0px;

        li{
          flex: 1;
          text-align: center;
          border-right: 1px solid #a3a2a2;
        }
        li:last-of-type{
          border-right: 0;
        }
      }
    }
  }


  .blue{
    color:#38c9e3;
  }
  .flex{
    display: flex;
  }
  .flex1{
    flex: 1;
    margin-left: 10px;
  }
  .c-icon{
    background-image: url(../../images/collect/index.png);
    background-size: 59px 37px;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .c-1{
    width: 15px;
    height: 15px;
  }
  .c-2{
    width: 15px;
    height: 15px;
    background-position:0 -20px;
  }
  .c-3{
    width: 15px;
    height: 15px;
    background-position:-21px 1px;
    margin-right: 5px;
  }
  .c-4{
    width: 15px;
    height: 15px;
    background-position:-42px 1px;
    margin-right: 5px;
  }
  .c-5{
    width: 15px;
    height: 15px;
    background-position:-42px -20px;
    margin-right: 5px;
  }
  .c-6{
    width: 15px;
    height: 15px;
    background-position:-21px -20px;
    margin-right: 5px;
  }

  .lastmargin {
    margin-bottom: 80px;
  }

  .ul-wrap{
    margin-top: 20px;
    background: whitesmoke;
    &>ul>li{
      padding:10px 0px ;
      margin-bottom: 15px;
      background: white;
    }
    .top-li{
      display: flex;
      border-bottom:1px dotted #CCCCCC;
      padding-bottom: 10px;
      padding-left: 10px;
    }
    .mid-li{
      padding: 10px;
      border-bottom:1px dotted #CCCCCC;
      &>p{
        color: #4b4b4b;
        font-size: 14px;
      }
    }
    .bot-li{
      ul{
        display: flex;
        li{
          flex: 1;
          text-align: center;
          padding: 10px 0px;
          &>span{
            display: inline-block;
            padding:6px 8px;
            background-color: #ffffff;
            border-radius: 4px;
            margin-right: 10px;
            width: 32px;
          }
        }
      }
    }

    .t-w{
      display: flex;
      align-items: center;
      flex: 1;
      img{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-right: 10px;
      }
      &>div{
        flex: 1;
        font-size: 13px;

        .lv{
          font-size: 12px;
          line-height: 13px;
          background-color: #fdd102;
          color: #ffffff;
          display: inline-block;
          padding: 0px 3px;
          margin-left: 5px;
        }


        &>p:first-of-type{
          //margin-bottom: 3px;
          color: rgb( 76, 191, 209 );
        }
        &>p:last-of-type{
          color: rgb( 204, 204, 204 );
        }

      }
    }
    .top-tag{
      padding: 0px 15px;
      text-align: right;
      display: flex;
      align-items: center;
      border-radius: 5px 0px 0px 5px;
      color: #ffffff;
      font-size: 14px;
      height:2em;
      margin-top: 5px
    }
    .cx{
      background-color: #774300;
    }
    .pm{
      background-color: #f27272;
    }
    .jd{
      background-color: #ff8607;
    }
    .xs{
      background-color: #95bb2f;
    }

    .img-list{
      margin: 10px 0px;
      overflow: hidden;
      li:nth-of-type(3n){
        margin-right: 0%;
      }
      li{
        width: 32%;
        float: left;
        margin-right: 2%;
        height: 0px;
        padding-bottom: 32%;
        position: relative;
        margin-bottom: 10px;


        a{
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background-color: whitesmoke;
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
    }

    .like-wrap{
      margin: 10px 0px;
      display: flex;
      &>span{
        display: inline-block;
        font-size: 12px;
        color: #6a5252;
        border: 1px solid #6a5252;
        border-radius: 2px;
        width: 1.6em;
        height: 1.6em;
        text-align: center;
        margin-right: 10px;
      }
      p,ul{
        color: #37b8cb;
        flex: 1;
        font-size: 12px;
      }
      li{
        color: #6a5252;
        font-size: 12px;
      }
      li>span{
        color: #37b8cb;
      }
    }
  }
}