#page {
  .wrap {
    margin-top: 0px;
  }

  .top-wrapper{
    p{
      font-size:14px;
      color: #c7c7c7;
      padding: 12px 16px;
      border-bottom: 1px solid #d1d1d1;
    }
    ul{
      background-color: white;
      border-bottom: 1px solid #d1d1d1;
      margin-bottom: 20px;
      li{
        padding: 0px 35px;
        color: #999;
        overflow: hidden;
        font-size: 15px;
        .ck-wrapper{
          width: 50%;
          float: left;
          display: flex;
          background-image: url(../../images/about/bc.png);
          background-size: contain;
          padding-left: 15px;
          background-repeat: no-repeat;
          box-sizing: border-box;
          margin: 20px 0px;

          .check-item{
            width: 15px;
            height: 15px;
            display: inline-block;
            margin-left: -15px;
            margin-right: 15px;


          }

          .check-item.selected{
            background-image: url(../../images/about/gou.png);
            background-size: 13px 13px;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }

  .bottom-wrapper{
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    padding: 10px 16px;
    background-color:white;

    textarea{
      border: 1px solid #d1d1d1;
      border-radius: 4px;
      width: 100%;
      height: 100px;
      padding: 10px;
      box-sizing: border-box;
      line-height: 1.5em;
      font-size: 14px;
    }
  }

  .btn{
    width: 90%;
    color: white;
    font-size: 18px;
    padding: 15px 0px;
    margin: 30px auto;
    background-color: #fb6c8a;
    text-align: center;
    border-radius: 4px;
  }
}