#page{
  .wrap{
    margin-top: 0px;

  }

  .logo{
    width: 80px;
    height: 80px;
    margin: 20px auto;
    background-image: url(../../images/about/logo.png);
    background-size: 80px 80px;

  }
  article{
    color: #aaaaaa;
    font-size: 15px;
    line-height: 1.5em;
    text-indent: 2em;
    margin: 10px 20px;
  }

  ul{
    background-color: white;
    border-top: 1px solid #d1d1d1;
    li{
      border-bottom: 1px solid #d1d1d1;
      padding: 15px 10px;
      display: flex;
      font-size: 15px;

      span{
        width: 8em;
        display: inline-block;
      }
    }
  }
  &>p{
    text-align: center;
    position: absolute;
    bottom: 10px;
    font-size: 13px;
    color: #aaaaaa;
    width: 100%;
  }
}