#page{
  .wrap{
    margin-top: 0px;
  }

  .banner-fix{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 100;

    .citybox{
      display: none;
    }
    .conditbox{
      display: none;
    }
  }

  #desdep, #despro {
    top: 93px;
  }

  .list-wrapper{
    margin-top: 103px;
  }
  .rate-eles{
    margin-right: 15px;
    img{
      width: 15px;
    }
  }

  .row_2{
    margin-bottom: 8px;

  }
}
#overlay{
  opacity: 0;
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 0;
  z-index: 80;
  background-color: rgba(0,0,0,0.7);

}