body {
  background-color: #efeff4; }

#page {
  font-family: "HY"; }
  #page .wrap {
    margin-top: 0px; }
  #page .sta-wrapper li {
    padding: 10px;
    color: #4f4e4d;
    font-size: 13px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5; }
    #page .sta-wrapper li .s-t {
      font-size: 15px; }
    #page .sta-wrapper li .s-b {
      color: #929292; }
  #page .sta-wrapper li:first-of-type {
    background-color: #ffe326;
    border-bottom: 0px; }
    #page .sta-wrapper li:first-of-type .s-t {
      color: #91571f; }
    #page .sta-wrapper li:first-of-type .s-b {
      color: #a08457; }
  #page .list-wrapper {
    margin: 15px 0px; }
    #page .list-wrapper li {
      padding: 10px 10px;
      margin-bottom: 10px;
      background-color: #ffffff; }
      #page .list-wrapper li .top-banner {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #c2c2c2;
        padding-bottom: 10px; }
        #page .list-wrapper li .top-banner img {
          width: 35px;
          height: 35px;
          border-radius: 35px;
          border: 1px solid #CCCCCC;
          overflow: hidden; }
        #page .list-wrapper li .top-banner p {
          color: #414140;
          flex: 1;
          font-size: 15px;
          margin: 0 10px; }
        #page .list-wrapper li .top-banner span {
          color: #9a7107;
          font-size: 15px; }
      #page .list-wrapper li .item-wrapper {
        padding-top: 10px;
        display: flex; }
        #page .list-wrapper li .item-wrapper .left-img {
          width: 80px;
          height: 80px; }
          #page .list-wrapper li .item-wrapper .left-img img {
            width: 80px;
            height: 80px; }
        #page .list-wrapper li .item-wrapper .mid-wrapper {
          margin: 0px 10px;
          flex: 1;
          color: #5b5b5a;
          font-size: 10px; }
          #page .list-wrapper li .item-wrapper .mid-wrapper .m-title {
            height: 50px;
            font-size: 14px; }
        #page .list-wrapper li .item-wrapper .right-wrapper {
          display: flex;
          flex-direction: column-reverse;
          font-size: 10px;
          color: #eb535a; }
          #page .list-wrapper li .item-wrapper .right-wrapper .order-icon {
            background-image: url(../../images/order/order.png);
            background-size: 21px 8.5px;
            background-repeat: no-repeat; }
          #page .list-wrapper li .item-wrapper .right-wrapper .o-1 {
            display: inline-block;
            background-position: 0px 4px;
            width: 12px;
            height: 13px; }
          #page .list-wrapper li .item-wrapper .right-wrapper .o-2 {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-position: -10px 2px; }
  #page .o-de {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffffff;
    font-size: 15px;
    color: #4f4e4d; }
    #page .o-de div {
      padding: 10px 0px;
      border-bottom: 1px solid #e5e5e5; }
      #page .o-de div .flex {
        display: flex; }
      #page .o-de div .flex1 {
        flex: 1; }
      #page .o-de div .small-font {
        font-size: 12px;
        margin-top: 5px; }
    #page .o-de div:last-of-type {
      border-bottom: 0px; }
  #page .lastmargin {
    margin-bottom: 80px; }

/*# sourceMappingURL=detail.css.map */
