body {
  background-color: #efeff4; }

#page {
  font-family: "HY"; }
  #page .wrap {
    margin-top: 0px; }
  #page .top-header {
    background-color: #ffffff;
    padding: 15px 0px 5px 0px; }
    #page .top-header .top-tab {
      border-radius: 6px;
      overflow: hidden;
      margin: 0px 40px;
      border: 1px solid #ffe326; }
      #page .top-header .top-tab li {
        float: left;
        width: 50%;
        text-align: center;
        padding: 10px 0px;
        color: #774300;
        font-size: 16px; }
      #page .top-header .top-tab li.selected {
        background-color: #ffe326; }
    #page .top-header .sta-tab {
      display: flex; }
      #page .top-header .sta-tab li {
        flex: 1;
        text-align: center;
        color: #774300;
        font-size: 14px;
        position: relative;
        padding: 20px 0px 0px 0px; }
        #page .top-header .sta-tab li span {
          display: inline-block;
          height: 25px; }
      #page .top-header .sta-tab li.selected span {
        border-bottom: 2px solid #774300; }
  #page .list-wrapper {
    margin: 15px 0px; }
    #page .list-wrapper li {
      padding: 10px 10px;
      margin-bottom: 10px;
      background-color: #ffffff; }
      #page .list-wrapper li .top-banner {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #c2c2c2;
        padding-bottom: 10px; }
        #page .list-wrapper li .top-banner img {
          width: 35px;
          height: 35px;
          border-radius: 35px;
          border: 1px solid #CCCCCC;
          overflow: hidden; }
        #page .list-wrapper li .top-banner p {
          color: #414140;
          flex: 1;
          font-size: 15px;
          margin: 0 10px; }
        #page .list-wrapper li .top-banner span {
          color: #9a7107;
          font-size: 15px; }
      #page .list-wrapper li .item-wrapper {
        padding-top: 10px;
        display: flex; }
        #page .list-wrapper li .item-wrapper .left-img {
          width: 80px;
          height: 80px; }
          #page .list-wrapper li .item-wrapper .left-img img {
            width: 80px;
            height: 80px; }
        #page .list-wrapper li .item-wrapper .mid-wrapper {
          margin: 0px 10px;
          flex: 1;
          color: #5b5b5a;
          font-size: 10px; }
          #page .list-wrapper li .item-wrapper .mid-wrapper .m-title {
            height: 50px;
            font-size: 14px; }
        #page .list-wrapper li .item-wrapper .right-wrapper {
          display: flex;
          flex-direction: column-reverse;
          font-size: 10px;
          color: #eb535a; }
          #page .list-wrapper li .item-wrapper .right-wrapper .order-icon {
            background-image: url(../../images/order/order.png);
            background-size: 21px 8.5px;
            background-repeat: no-repeat; }
          #page .list-wrapper li .item-wrapper .right-wrapper .o-1 {
            display: inline-block;
            background-position: 0px 4px;
            width: 12px;
            height: 13px; }
          #page .list-wrapper li .item-wrapper .right-wrapper .o-2 {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-position: -10px 2px; }
  #page .lastmargin {
    margin-bottom: 80px; }

/*# sourceMappingURL=list.css.map */
