
#page {
  max-width: 640px;
  width: 100%;
  margin: auto;

  .mIcon {
    background-image: url(../../images/common/m-icon.png);
    background-size: 300px 52px;
    background-repeat: no-repeat;
  }
  .m-icon0 {
    display: inline-block;
    width: 30px;
    height: 23px;
    background-position: 7px -24px;
    margin-top: 5px;
    margin-right: 10px;

  }

  header.back-header {
    background-color: #ebe5e2;
    padding: 10px 0px;
    font-size: 18px;
    color: #59463d;
    font-weight: 600;

    .m-icon0 {
      position: absolute;
      left: 12.5px;
      top: 6px;
    }

    p {
      text-align: center;
    }

    .right-btn {
      position: absolute;
      right: 12.5px;
      top: 15px;
      font-size: 14px;
      font-weight: normal;
    }
  }

  /*
  <div class="pro-title">
                X月X日,星期X
            </div>

            <div class="pro-content">
                后台客服更新B订单沟通记录=项目进展.假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字
            </div>
            */

  .c-wrap{
    padding:20px 15px;
    color: #59463d;
    margin-bottom: 60px;

    .p-title{
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
    .p-sub{
      font-size: 12px;
      text-align: center;
    }

    .p-status{
      display: inline-block;
      padding:2px 5px;
      color: #88c6c2;
      border:1px solid #88c6c2;
      border-radius: 4px;
      text-align: center;
      font-size: 12px;
    }

    .p-detail{
      background-color: #ebe5e2;
      color: #59463d;
      padding : 10px;
      height:320px;
      position: relative;
      overflow: hidden;
      margin-top:12.5px;
      .d-wrap{
        font-size: 14px;
      }
    }

    .p-price{
      text-align: right;
      margin-top:5px;

    }
    .p-backprice{
      color: #88c6c2;
      text-align: right;
    }
    .p-realprice{
      color: #88c6c2;
      text-align: right;

    }

    .im-top {
      position: relative;
      padding: 20px 0px;
      .b-img {
        position: absolute;
        bottom: 0px;
        width: 20%;
        height: 4px;
        border-radius: 4px;
        background-color: #a5897d;
        left: 40%;
      }
      p {
        text-align: center;
        margin: 5px 0px;
        color: #1a0b03;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .pro-title{
      color: #1a0b03;
      font-size: 12px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .pro-content{
      color: #1a0b03;
      font-size: 12px;
      text-align: left;
      background-color: #ebe5e2;
      padding: 10px;
    }

    .reply-btn{
      text-align: center;
      width: 8em;
      color: #88c6c2;
      border:1px solid #88c6c2;
      border-radius: 4px;
      padding:8px 0px;
      margin:10px auto 0px auto;
      font-size: 12px;
    }
    .reply-box{
      border:1px solid #ebe5e2;
      padding: 10px;
      font-size: 12px;
      margin-top: 10px;
      color:#1a0b03;
      .p-title{
        font-weight: 200;
      }
      .r-content{

      }
      .r-time{
        color:#a58a7c;
        text-align: right;
        margin-top: 10px;

      }
    }
  }
  .fixedbtn {
    background-color: white;
    padding: 12px 20px;
    border-top: 1px solid #eeeae7;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    bottom: 0px;

    .btn {
      border-radius: 6px;
      font-size: 14px;
      color: #ffffff;
      background-color: #88c6c2;
      text-align: center;
      padding: 8px 0px;

    }

  }
}


.fadeIn{
  top:20%;

  .btn{
    border-radius: 6px;
    font-size: 14px;
    color: #ffffff;
    background-color: #88c6c2;
    text-align: center;
    padding: 8px 0px;
    margin-top: 15px;

  }

  .J-box{
    height:200px;
    border:1px solid #eeeae7;
    margin-top: 20px;
  }
  textarea{
    width:100%;
    height:100%;
    padding:20px;
  }
}




