body {
  background-color: #ebebeb;
  font-family: HiraginoSansGB-W3, 'Hiragino Sans GB', Arial, Monaco, tahoma, arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  header {
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ffe629;
    .com-logo {
      width: 50px;
      height: 50px;
      margin: auto;
      margin-bottom: 15px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .com-title > span {
      color: #6a5252;
      border-bottom: 1px solid #ffe629;
    }
    & > span {
      background-color: #c5ad86;
      color: #ffffff;
      font-size: 12px;
      display: inline-block;
      padding: 2px;
      margin: 10px 0px;

    }

    .b-btn {
      .btn {
        width: 35px;
        height: 35px;
        border-radius: 10px;
        background-color: #333333;
        display: inline-block;
        background-position: center;
        background-size: 27px 27px;
        background-repeat: no-repeat;
      }
      .btn:first-of-type {
        margin-right: 18px;
      }
      #tel {
        background-image: url(../../images/share/com_detail_tel.png);
      }
      #loc {
        background-image: url(../../images/share/com_detial_loc.png);
      }
    }
  }
  .ul-wrap {
    margin: 6px;

    li>a {
      margin-bottom: 6px;
      background-color: #FFF;
      display: flex;
      border-radius: 6px;

      .l-img {
        width: 80px;
        height: 103px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        img {
          width: 100%;

        }
      }

      .r-con {
        flex: 1;
        padding-left: 12px;
        padding-right:12px;

        .r-t-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          border-bottom: 1px dashed #cccccc;
          font-size: 11px;
          p {
            flex: 1;
            color: #6a5252;
          }

          span {
            color: #ffffff;
            background-color: #c5ad86;
            padding: 0px 6px;
            border-radius: 2px 0px 0px 2px;
          }
        }

        .r-b-wrap {
          color: #999999;
          font-size: 10px;
          p:first-of-type {
            margin-top: 8px;
            padding-left:12px;
          }
          p:last-of-type {
            font-size: 10px;
            padding-left:12px;
          }
        }
      }
    }

  }

  .ul-wrapper3 {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    border-bottom: 1px solid #efefef;
    background-color: #ffffff;
    ul {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      height: 30px;
      li {
        margin-right: 10px;
        height: 30px;
        position: relative;
        width: 30px;
        a {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    & > span {
      font-size: 13px;
      color: rgb(242, 114, 114);
      width: 8em;
    }

    span.icon9 {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 20px;
    }

  }

  .ul-wrapper4 {
    background-color: #ffffff;
    li {
      padding: 10px;
      border-bottom: 1px solid #efefef;
      .t-w {
        display: flex;
        align-items: center;

        img {
          width: 30px;
          height: 30px;
          border-radius: 30px;
          margin-right: 10px;
        }
        & > div {
          flex: 1;
          font-size: 13px;

          .lv {
            font-size: 13px;
            background-color: #fdd102;
            color: #ffffff;
            display: inline-block;
            padding: 0px 3px;
            margin-left: 5px;
          }

          & > p:first-of-type {
            //margin-bottom: 3px;
            color: rgb(76, 191, 209);
          }
          & > p:last-of-type {
            color: rgb(204, 204, 204);
          }

          .t-t {
            display: flex;

            p {
              flex: 1;
              color: rgb(77, 192, 209);
            }
            & > span {
              color: rgb(191, 191, 191);
            }
          }

          .t-c {
            color: rgb(125, 97, 97);
            line-height: 1.2em;

            span {
              display: inline-block;
              color: #4dc0d1;
              margin: 0px 3px;
            }
          }

        }
      }
    }
  }

  .combolIcon {
    background-image: url(../../images/share/com_detail_combo.png);
    background-size: 10px 25px;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .timeicon{
    background-position: 0 3px;
  }
  .locicon {
    background-position: 0px -10.5px;
  }

}