body{
  background-color: #efeff4;
}
#page {
  font-family: "HY";
  //background-color: #efeff4;

  .wrap {
    margin-top: 0px;
  }

  .top-header {
    background-color: #ffffff;


    .top-img{
      width: 100%;
      position: relative;
      top: 0px;
      left: 0px;
      height: 130px;
      &>img{
        width: 100%;
        height: 100%;
      }

      .img-wrapper{
        position: absolute;
        right: 15px;
        bottom: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        overflow: hidden;
        z-index: 10;
        img{
          width: 100%;
          height: 100%;
        }
      }

      p{
        position: absolute;
        right: 15px;
        bottom: 10px;
        color: #ffffff;
      }
    }


    .sta-tab {
      display: flex;

      li {
        flex: 1;
        text-align: center;
        color: #774300;
        font-size: 14px;
        position: relative;
        padding: 20px 0px 0px 0px;

        span {
          display: inline-block;
          height: 25px;
        }
      }

      li:after{
        content: '';
        width: 1px;
        height: 1em;
        position: absolute;
        right: 0px;
        background-color:#e5e5e5 ;
      }
      li:last-of-type:after{
        display: none;
      }
      li.selected {
        color: #ec6161;
      }
    }
  }

  .ul-wrapper2{
    padding: 10px;
    background-color: white;
    ul{
      overflow: hidden;
      li:nth-of-type(2n){
        margin-right: 0px;
      }
      li{
        width: 49%;
        margin-right: 2%;
        float: left;
        margin-bottom: 15px;

        &>p{
          font-size: 14px;
          color: rgb( 106, 82, 82 );
          text-align: center;
          padding: 10px 0px;
          background-color: #fbfbfb;
        }
      }

      .t-w{
        display: flex;
        align-items: center;

        img{
          width: 30px;
          height: 30px;
          border-radius: 30px;
          margin-right: 10px;
        }
        &>div{
          flex: 1;
          font-size: 13px;

          .lv{
            font-size: 13px;
            background-color: #fdd102;
            color: #ffffff;
            display: inline-block;
            padding: 0px 3px;
            margin-left: 5px;
          }


          &>p:first-of-type{
            //margin-bottom: 3px;
            color: rgb( 76, 191, 209 );
          }
          &>p:last-of-type{
            color: rgb( 204, 204, 204 );
          }

        }
      }

      .i-w{
        width: 100%;
        height: 0px;
        padding-bottom: 100%;
        position: relative;
        margin-top: 10px;

        a{
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 8px 8px 0px 0px;

          img{
            width: 100%;
            height: 100%;
          }
        }

        &>div{
          position: absolute;
          left: -1px;
          top: 0px;
          z-index: 1;
          width: 34px;
          height: 34px;
          display: inline-block;
          span{
            color: #ffffff;
            font-size: 10px;
            display: inline-block;
            transform: rotate(-45deg);
            text-align: center;
          }
        }
      }

      .b-w{
        border-top: 1px solid #CCCCCC;
        padding: 10px 0px;
        display: flex;
        background-color: #fbfbfb;
        border-radius: 0px 0px 8px 8px;

        p{
          flex: 1;
          text-align: center;
        }
        p:first-of-type{
          color: rgb( 242, 114, 114 );
          font-size: 13px;
          text-align: center;
          border-right: 1px solid #CCCCCC;
        }

        p:last-of-type{
          font-size: 13px;
          color: rgb( 106, 82, 82 );

          span{
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .lastmargin{
    margin-bottom: 80px;
  }

  .pics-icon{
    background-image: url(../../images/pics/pics.png);
    background-size: 87px 29px;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .p-1{
    width: 13px;
    height: 13px !important;
  }
  .p-2{
    width: 14px;
    height: 13px !important;
    background-position: -17px 0;
  }
  .p-3{
    width: 16px;
    height: 13px !important;
    background-position: -34px 0;
  }
  .p-4{
    width: 16px;
    height: 13px !important;
    background-position: -50px 0px;
  }
  .p-5{
    width: 16px;
    height: 13px !important;
    background-position: -71px 0px;
  }

  .sale0{
    background-color: rgba(255, 227, 38,1);
  }
  .sale1{
    background-color: #4dc0d1;
  }
}