body {
  background-color: #efeff4; }

#page {
  font-family: "HY"; }
  #page .wrap {
    margin-top: 0px; }
  #page .top-header {
    background-color: #ffffff; }
    #page .top-header .top-img {
      width: 100%;
      position: relative;
      top: 0px;
      left: 0px;
      height: 130px; }
      #page .top-header .top-img > img {
        width: 100%;
        height: 100%; }
      #page .top-header .top-img .img-wrapper {
        position: absolute;
        right: 15px;
        bottom: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        overflow: hidden;
        z-index: 10; }
        #page .top-header .top-img .img-wrapper img {
          width: 100%;
          height: 100%; }
      #page .top-header .top-img p {
        position: absolute;
        right: 15px;
        bottom: 10px;
        color: #ffffff; }
    #page .top-header .sta-tab {
      display: flex; }
      #page .top-header .sta-tab li {
        flex: 1;
        text-align: center;
        color: #774300;
        font-size: 14px;
        position: relative;
        padding: 20px 0px 0px 0px; }
        #page .top-header .sta-tab li span {
          display: inline-block;
          height: 25px; }
      #page .top-header .sta-tab li:after {
        content: '';
        width: 1px;
        height: 1em;
        position: absolute;
        right: 0px;
        background-color: #e5e5e5; }
      #page .top-header .sta-tab li:last-of-type:after {
        display: none; }
      #page .top-header .sta-tab li.selected {
        color: #ec6161; }
  #page .ul-wrapper2 {
    padding: 10px;
    background-color: white; }
    #page .ul-wrapper2 ul {
      overflow: hidden; }
      #page .ul-wrapper2 ul li:nth-of-type(2n) {
        margin-right: 0px; }
      #page .ul-wrapper2 ul li {
        width: 49%;
        margin-right: 2%;
        float: left;
        margin-bottom: 15px; }
        #page .ul-wrapper2 ul li > p {
          font-size: 14px;
          color: #6a5252;
          text-align: center;
          padding: 10px 0px;
          background-color: #fbfbfb; }
      #page .ul-wrapper2 ul .t-w {
        display: flex;
        align-items: center; }
        #page .ul-wrapper2 ul .t-w img {
          width: 30px;
          height: 30px;
          border-radius: 30px;
          margin-right: 10px; }
        #page .ul-wrapper2 ul .t-w > div {
          flex: 1;
          font-size: 13px; }
          #page .ul-wrapper2 ul .t-w > div .lv {
            font-size: 13px;
            background-color: #fdd102;
            color: #ffffff;
            display: inline-block;
            padding: 0px 3px;
            margin-left: 5px; }
          #page .ul-wrapper2 ul .t-w > div > p:first-of-type {
            color: #4cbfd1; }
          #page .ul-wrapper2 ul .t-w > div > p:last-of-type {
            color: #cccccc; }
      #page .ul-wrapper2 ul .i-w {
        width: 100%;
        height: 0px;
        padding-bottom: 100%;
        position: relative;
        margin-top: 10px; }
        #page .ul-wrapper2 ul .i-w a {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 8px 8px 0px 0px; }
          #page .ul-wrapper2 ul .i-w a img {
            width: 100%;
            height: 100%; }
        #page .ul-wrapper2 ul .i-w > div {
          position: absolute;
          left: -1px;
          top: 0px;
          z-index: 1;
          width: 34px;
          height: 34px;
          display: inline-block; }
          #page .ul-wrapper2 ul .i-w > div span {
            color: #ffffff;
            font-size: 10px;
            display: inline-block;
            transform: rotate(-45deg);
            text-align: center; }
      #page .ul-wrapper2 ul .b-w {
        border-top: 1px solid #CCCCCC;
        padding: 10px 0px;
        display: flex;
        background-color: #fbfbfb;
        border-radius: 0px 0px 8px 8px; }
        #page .ul-wrapper2 ul .b-w p {
          flex: 1;
          text-align: center; }
        #page .ul-wrapper2 ul .b-w p:first-of-type {
          color: #f27272;
          font-size: 13px;
          text-align: center;
          border-right: 1px solid #CCCCCC; }
        #page .ul-wrapper2 ul .b-w p:last-of-type {
          font-size: 13px;
          color: #6a5252; }
          #page .ul-wrapper2 ul .b-w p:last-of-type span {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 5px; }
  #page .lastmargin {
    margin-bottom: 80px; }
  #page .pics-icon {
    background-image: url(../../images/pics/pics.png);
    background-size: 87px 29px;
    background-repeat: no-repeat;
    display: inline-block; }
  #page .p-1 {
    width: 13px;
    height: 13px !important; }
  #page .p-2 {
    width: 14px;
    height: 13px !important;
    background-position: -17px 0; }
  #page .p-3 {
    width: 16px;
    height: 13px !important;
    background-position: -34px 0; }
  #page .p-4 {
    width: 16px;
    height: 13px !important;
    background-position: -50px 0px; }
  #page .p-5 {
    width: 16px;
    height: 13px !important;
    background-position: -71px 0px; }
  #page .sale0 {
    background-color: #ffe326; }
  #page .sale1 {
    background-color: #4dc0d1; }

/*# sourceMappingURL=index.css.map */
