#page{
  .wrap{
    margin-top: 0px;
    margin-bottom: 10px;

  }

  .Center{
    div{
      margin: 5px 0px;
    }
  }

  .right-icon {
    display: inline-block;
    width: 9px;
    height: 16px;
    background-image: url(../../images/arro_right.png);
    background-size: 9px 16px;
    background-repeat: no-repeat;
  }

  .right-icon.disable{
    background-color: gray;
  }

  .t-r{
    position: absolute;
    right: 10px;
    top: 45px;
  }

  .data-picker{
    display: flex;
    background-color: #FFF;
    span.right-icon {
      display: inline-block;
      width: 30px;
      height: 70px;
      background-image: url(../../images/arro_right.png);
      background-size: 9px 16px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .rota{
      transform: rotate(-180deg);
    }

  }

  .bottom-radius{
    border-radius: 0px 0px 8px 8px;
  }
  .time-picker{

    margin: 10px 15px;
    box-sizing: border-box;
    border-top: 0px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);

    .top-radius{
      border-radius: 8px 8px 0px 0px;
    }

    .box_list_ys{
      margin-top: 0px;
    }
    .icon1{
      -webkit-background-size: 16px 16px;
      background-size: 16px 16px;
      background-image: url(../../images/order/icon1.png);
      margin-bottom: 15px;
    }
    .icon2{
      -webkit-background-size: 13px 17.5px;
      background-size: 13px 17.5px;
      background-image: url(../../images/order/icon2.png);
      padding: 3px 0px;
    }
    .row_1,.row_2{
      background-position: left center;
      background-repeat:no-repeat;
      padding-left: 40px;
      font-size: 18px;
      line-height: 18px;
    }
    .box{
      border-bottom-style: dotted;
    }

    .taochan-wrapper{
      background-color: #fff7fa;
      padding: 12px 30px 12px 10px;
      position: relative;
      .right-icon{
        top: 13px;
      }
      p{
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
        overflow: hidden;
        color: #b4b4b4;
        span{
          color: #9bb8f8;
          font-size: 20px;
        }
      }

    }

    .time-wrapper{
      padding: 22px 11px 7px 11px;
      background-color: #FFF;
      border-top: 1px solid #d1d1d1;
      ul{
        overflow: hidden;
      }
      li{
        border-radius: 6px;
        font-size: 15px;
        color: #FFF;
        padding: 10px 0px;
        text-align: center;
        background-color: #f98099;
        width:percentage(120/(640-22-30));
        margin-right:percentage(33/(640-22-30)) ;
        float: left;
        margin-bottom: 15px;
        position: relative;

      }
      .time-item.dis{
        background-color:#e8e8e8 ;
        color: #c6c6c6;
      }
      .time-item.selected{
        border: 1px solid black;
      }
      .dis:before{
        content: " ";
        width: 70%;
        height: 1px;
        background-color:#c6c6c6 ;
        position: absolute;
        top: 18px;
        left: 15%;
      }
      li:nth-of-type(4n){
        margin-right: 0px;
      }
    }

    .tiaokuan-wrapper{
      background-color: #FFF;
      border-top: 1px solid #d1d1d1;
      border-bottom: 0px;

      ul{
        overflow: hidden;
        li{
          position: relative;
          width: 33.33%;
          float: left;
          padding: 15px 10px;
          box-sizing: border-box;
          font-size: 16px;
          color: #919191;
          text-align: center;

          .right-icon{
            top: 15px;
          }
        }
      }
    }

  }

}

.des-wrapper {
  .t-bar {
    overflow: hidden;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding: 15px 0px;
    background-color: #FFF;
    li {
      width: 50%;
      float: left;
      text-align: center;
      color: #b8b8b8;
      position: relative;
      font-size: 16px;
    }
    li:first-of-type:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 15px;
      right: 0px;
      top: 5px;
      background-color: #d1d1d1;
    }
    .select{
      color: #000;
    }
    .select:before{
      position: absolute;
      content: "";
      top: 28px;
      width: 80%;
      height: 3px;
      background-color: #f76b88;
      left: 10%;
    }
  }
  .js,.xz {
    padding: 20px;
    background-color: #FFF;
    ul {
      li {
        overflow: hidden;
      }
      .list-style {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        margin-right: 10px;
        background-color: #ffd1db;
        float: left;
        margin-bottom: 2em;
        margin-top: 3px;
      }

    }
  }
  .xz {
    display: none;
  }
}
#overlay {
  opacity: 0;
  position: fixed;
  top: 90px;
  bottom: 0px;
  width: 100%;
  height: 0;
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.7);

}

.swiper-container {
  width: 100%;
  height: 70px;
}
.swiper-slide.dis{
  div{
    background-color: #f3f3f3;

    p,span{
      color:#dadada;
      border-color: #dadada;
    }
  }
}

.swiper-slide {
  text-align: left;
  //font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-right: 1px solid #d1d1d1;


  div{
    margin: 2px;
    padding: 4px 4px;
    width: 100%;
  }

  .year{
    color: #c7c7c7;
  }
  .day{
    color:#fb6c8a;
    font-size: 12px;
    margin: 1px 0px;
  }
  .week{
    border: 1px solid #fb6c8a;
    border-radius: 2px;
    color:#fb6c8a;
  }
}


.swiper-slide:first-of-type{
  border-left: 1px solid #d1d1d1;
}

.swiper-slide.selected{
  div{
    background-color: #feb7c6;
    border-radius: 4px;

    //padding: 0px;
  }

  .year{
    color: #FFF;
    font-size: 16px;
  }
  .day{
    color:#FFF;
    font-size: 13px;
    margin: 3px 0px;
  }
  .week{
    border: 1px solid #FFF;
    border-radius: 2px;
    color:#FFF;
    font-size: 14px;
  }
}

.swiper-button-disabled{
  opacity: 0.5;
}
.pre{
  border-right: 1px solid #d1d1d1;
}
.next{
  border-left: 1px solid #d1d1d1;
}

.taocanToggle{
  white-space: normal !important;
}
.rightToogle{
  transform: rotate(90deg);
  transition-duration : 100ms;
}

a:visited, a{
  color: #919191;;
}

#desdep,#despro{
  display: none;
  top: 120px;
}

.row_1,.row_2{
  font-size: 13px !important;
  padding-left: 0px !important;
  margin: 0px !important;
}
.time-picker .Center{
  margin-left: 80px;
  width: auto !important;
}

.rate-eles{
  img{
    width: 20px;
  }
}

.list_mz .Center .row_2 strong{
  display: inline-block;
  margin-left: 10px;
  line-height: 20px;
  vertical-align: sub;
}