
.page-wrap {
  min-width: 1200px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;

  .left-wrap {
    width: 195px;
    float: left;
    background-color: #ffffff;
    height: 100%;

    .l-top-wrap {
      background-image: url(../img/l-t-bg.png);
      padding: 20px;
      color: white;
      overflow: hidden;

      .img-wrap {
        float: left;
        width: 58px;
        height: 58px;
        border-radius: 58px;
        background-color: #dcdcdc;
        border: 1px solid #ffffff;
        padding: 3px;

        img {
          width: 55px;
          height: 55px;
          margin: auto;
          display: block;
        }
      }
      .name-wrap {
        position: relative;
        left: 10px;
        top: 25px;
        font-size: 14px;
        font-family: "Heiti SC";
        color: rgb(255, 255, 255);
      }

    }
    .ul-wrap {
      .fi-title {
        padding: 10px;
        background-color: #ffffff;
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid #dcdcdc;

        span {
          width: 19px;
          height: 19px;
          float: left;
        }
        p {
          float: left;
          left: 10px;
          top: 0px;
          position: relative;
          font-size: 18px;
          font-family: "Heiti SC";
          color: rgb(0, 0, 0);
          font-weight: 600;
        }
      }
      .fi-title:after {
        background: url(../img/right-icon.png) no-repeat right center;
        background-size: 100%;
        content: '';
        width: 7px;
        height: 11px;
        position: absolute;
        right: 17px;
        top: 13px;
      }
      .fi-title.selected:after {
        background: url(../img/down-icon.png) no-repeat right center;
        background-size: 100%;
        content: '';
        width: 10px;
        height: 7px;
        position: absolute;
        right: 17px;
        top: 15px;
      }
      .fi-title.selected{
        border-bottom: 0px;
      }

      ul {
        background-color: #e7f2f7;
        li {
          padding: 10px 0px;
          padding-left: 40px;
          color: #1081b6;
        }
        li.li-selected {
          background-color: #1081b6;
          color: #ffffff;
          margin-right: -7px;
          position: relative;
          z-index: 2;
        }
        li.li-selected:after {
          position: absolute;
          content: '';
          background-image: url(../img/li-selected-triggle.png);
          width: 7px;
          height: 8px;
          right: 0px;
          bottom: -7px;
        }
      }
    }

  }

  .right-wrap {
    height: 100%;
    margin-left: 195px;
    position: relative;


    .r-top-wrap{
      .r-title-wrap{
        background-color: #1081b6;
        padding: 20px 20px;
        font-size: 20px;
        font-family: "Heiti SC";
        color: rgb( 255, 255, 255 );
        overflow: hidden;

        &>p{
          float: left;
        }
        &>.r-right-wrap{
          float: right;
          position: relative;
          padding-left: 25px;
          background-image: url(../img/r-title-img.png);
          background-repeat: no-repeat;
          background-position: left center;
          //font-size: 16px;
          height: 23px;
          font-size: 16px;
          vertical-align: text-bottom;
          line-height: 28px;
          span:last-of-type{
            font-size: 18px;
            display: inline-block;
            margin-left: 10px;
          }
        }

      }
      .r-tips-wrap{
        background-color: #ffffff;
        ul{
          padding: 10.5px 20px;
          overflow: hidden;
          
          li{
            width: 150px;
            float: left;
            text-align: center;
            font-size: 15px;
            font-family: "Heiti SC";
            font-weight: 400;

            .tip-radius{
              display: inline-block;
              width: 20px;
              height: 20px;
              border-radius: 20px;
              background-color: #0f85d7;
              top: 4px;
              position: relative;
              left: 5px;

            }
          }
        }
      }
    }
    .r-main-wrap{
      background-color: #f0f0f0;
      height: 100%;
      .m-title{
        font-size: 16px;
        padding: 20px;
        font-family: "Heiti SC";
        color: rgb( 100, 100, 100 );
        span:last-of-type{
          color: #000;
          font-weight: 600;
        }
      }
      .m-location{
        padding:0 20px;
        color: #000;
        span:first-of-type{
          background-image: url(../img/r-location.png);
          padding-left: 15px;
          background-position: left center;
          background-repeat: no-repeat;
          height: 15px;
          display: inline-block;
          color:#1081b6;
        }
        span:last-of-type{
          font-weight: 600;
        }
      }

      .tab-wrap{
        padding: 20px;
        overflow: hidden;
        color:#1081b6;

        ul{
          overflow: hidden;
          float: left;

          li{
            float: left;
            margin-right: 20px;
            padding: 5px 8px;
          }

          li.selected{
            background-color:#1081b6 ;
            color: #FFFFFF;
            border-radius: 8px;
          }
        }
        &>p{
          float:right;
          position: relative;
          span:first-of-type{
            margin-right: 40px;
          }
          .refresh{
            background-image: url(../img/r-refresh.png);
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-left: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            top: -5px;
            right: 0px;
            position: absolute;
          }
        }
      }

      .m-m-wrap{
        margin:0px 20px;
        padding: 20px;
        background-color: #FFFFFF;
      }
      .st4{
        padding: 20px 30px;
        overflow: hidden;
        font-size: 15px;

        .table:last-of-type{
          border-right: 0px;
          float: right;
        }
        .table{
          float: left;
          width: 47%;
          border-right: 1px solid #a2a2a2;
          .table-title{
            position: relative;
            padding-bottom: 20px;
            font-weight: 600;
            span:first-of-type{
              position: relative;
              right: -5px;
            }
            span.mid-splite{
              background-image: url(../img/r-splite.png);
              display: inline-block;
              width: 15px;
              height: 15px;
              top: 5px;
              position: relative;
              background-size: contain;
            }
            span:last-of-type{
              position: relative;
              top: 10px;
              left: -8px;
            }

          }
          table{
            width: 100%;
            tr{
              td:nth-of-type(2n){
                color: #1081b6;
                line-height: 2em;
              }
              td{
                text-align: center;
                span{
                  color: #a2a2a2;
                  display: inline-block;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }

  }

}
