#page {
  .wrap {
    margin-top: 0px;
  }

  .banner-fix {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 100;

    .citybox {
      display: none;
    }
    .conditbox {
      display: none;
    }
  }

  .list-wrapper {
    margin-top: 103px;
  }

  #desdep, #despro {
    top: 93px;
  }



  .radius-wrapper{
    height: 15px;
    border-radius: 15px;
    font-size: 13px;
    border: 1px solid gray;
    padding-top: 0px;
    box-sizing: border-box;
    padding-left: 3px;
    margin-top: 0px;
    line-height: 13px
  }
}

#overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 0;
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.7);

}